config/*.conf
!config/default.conf
!config/testing.conf
lib/BibSpace/files/config/*.conf
!lib/BibSpace/files/config/default.conf
!lib/BibSpace/files/config/testing.conf

util/.*
MANIFEST.bak
MANIFEST.SKIP.bak
_build
tmp/*
log/*.log
public/uploads/*BibSpace*tar.gz
/BibSpace-*tar.gz
/BibSpace-*
/__config
/backups
/.build.

.coveralls.yml
.tidyall.d/
*.sublime-workspace
db_data/
json_data/
*.pl
*.sql

*.swp

public/

BibspacePrereqs/
Dockerfile
bibspace*.dat
docker-compose.yml
