[Unit]
Description=BibSpace management of bibtex publication entries
Requires=mysqld.service nginx.service
Wants=mysqld.service nginx.service



[Service]
Type=simple
RemainAfterExit=yes
SyslogIdentifier=bibspace-demo
PIDFile=/home/piotr/perl/bibspace-demo/bibspace.pid
ExecStart=/usr/bin/hypnotoad /home/piotr/perl/bibspace-demo/bin/bibspace -f
ExecStop=/usr/bin/hypnotoad -s /home/piotr/perl/bibspace-demo/bin/bibspace
ExecReload=/usr/bin/hypnotoad /home/piotr/perl/bibspace-demo/bin/bibspace

[Install]
WantedBy=multi-user.target